VITE_APPWRITE_URL="https://fra.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="6a4a0485001f67d6c86d"
VITE_APPWRITE_DATABASE_ID="6a4a065e0017d6187d83"
VITE_APPWRITE_COLLECTION_ID="articles"
VITE_APPWRITE_BUCKET_ID="6a4a09ce00342a1415b1"